<html xmlns:th="https://www.thymeleaf.org" lang="en">
<body>
<div>
    <h3>Upload files to validate</h3>
    <form method="POST" enctype="multipart/form-data" action="/">
        <table>
            <tr>
                <td>File to upload:</td>
                <td><input type="file" name="file"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Upload"/></td>
            </tr>
        </table>
    </form>
    <a href="/launchJob"><button type="button">Validate files & Show results</button></a>
    <a href="/deleteRecords"><button type="button">Delete results</button></a>
    <a href="/deleteFiles"><button type="button">Delete files</button></a>
</div>

<div th:if="${failedTransactions}">
    <h3>Results</h3>
    <table>
        <thead>
        <tr>
            <td>Transaction reference</td>
            <td>Failure reason</td>
        </tr>
        </thead>
        <tr th:each="transaction : ${failedTransactions}">
            <td th:text="${transaction.getReference()}"></td>
            <td th:text="${transaction.getReason()}"></td>
        </tr>
    </table>
</div>

</body>
</html>
